

<kt-portlet >
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Manage Osteoporosis'"  [class]="'kt-portlet__head--lg'" >
        <ng-container ktPortletTools>
            <button [routerLink]="['../add']" mat-raised-button color="primary" matTooltip="Create new Form">Add New</button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body class="col-md-12">
        <div class="kt-form kt-margin-b-30">
            <div class="kt-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-2 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input autocomplete="off" matInput placeholder="Search form" #searchInput placeholder="Search">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div #MainBody class="mat-table__wrapper col-md-12">
            <mat-table id="matTable" class="lmat-elevation-z8"
                       [dataSource]="dataSource"
                       matSort
                       #sort1="matSort"
                       matSortActive="savedFormID"
                       matSortDirection="asc"
            >
                <div matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
                    <mat-cell *matCellDef="let form; let i = index">{{(lastQuery.pageNumber*lastQuery.pageSize)+i+1}}</mat-cell>
                </div>
                <div matColumnDef="1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id Form</mat-header-cell>
                    <mat-cell *matCellDef="let form">{{form.SavedFormID}}</mat-cell>
                </div>
                <div matColumnDef="2">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="email-cell">Saved Form ID</mat-header-cell>
                    <mat-cell *matCellDef="let form" class="email-cell">
                        <a routerLink="../edit/{{form.SavedFormID}}" class="kt-link">{{form.SavedFormName}}</a>
                    </mat-cell>
                </div>
                <div matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let form">
                        <button routerLink="../edit/{{form.SavedFormID}}"  mat-icon-button color="primary" matTooltip="Edit form">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;
                        <a mat-icon-button color="warn" matTooltip="Print form" routerLink="../print/{{form.SavedFormID}}">
                            <mat-icon>print</mat-icon>
                        </a>
                    </mat-cell>
                </div>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="dataSource.length == 0 && loading$ == false">No records found</div><!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="loading$">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <!--<mat-spinner [diameter]="20" *ngIf="loading$ | async"></mat-spinner>-->
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [length]="lastQuery.totalRecords"
                           [pageSize]="10"
                           (page)=" getPaginatorData($event)"
                           [showFirstLastButtons]="true"
                           [pageSizeOptions]="[5, 10, 25, 50]">

            </mat-paginator>
            <!--<mat-paginator  [pageSizeOptions]="[10,25,50,100]" (page)="pageEvent = getPaginatorData($event)" [length]="300" [showFirstLastButtons]="true"></mat-paginator>-->
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>
