<div class="col-md-12" >
    <form autocomplete="off" [formGroup]="form" class="kt-form kt-form--group-seperator-dashed">

        <!--<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"-->
                  <!--(close)="onAlertClose($event)">-->
            <!--Oh snap! Change a few things up and try submitting again.-->
        <!--</kt-alert>-->
        <div class="kt-form__section kt-form__section--first">
            <div class="form-group  row">
                
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Sample Id" autocomplete="off" formControlName="SampleID" />
                        <mat-error>Sample Id is
                            <strong>required</strong>
                        </mat-error>
                        
                    </mat-form-field>
                </div>

                <div class="col-md-3 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Depository Id" autocomplete="off" formControlName="Depository_ID" />
                        
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Sample Id</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Collection Point"
                               autocomplete="off"
                               formControlName="CollectionPoint" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Collection Point</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Collected by" autocomplete="off" formControlName="CollectedBy" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Collected by</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
                 
                </div>
              
            <div class="form-group  row">
              

                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="doaPicker"
                               autocomplete="off"
                               (click)="doaPicker.open()"
                               placeholder="Date of Assessment" (click)="doaPicker.open()" formControlName="DateofAssessment" />
                        <mat-datepicker-toggle matSuffix [for]="doaPicker"></mat-datepicker-toggle>
                        <mat-datepicker #doaPicker></mat-datepicker>
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Date of assessment</strong> in 'mm/dd/yyyy' format</mat-hint>-->
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group  row">
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="First Name" autocomplete="off" formControlName="PERS_Firstname" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>First Name</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Middle Name" autocomplete="off" formControlName="PERS_MiddleName" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Middle Name</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>

                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Family Name" autocomplete="off" formControlName="PERS_FamilyName" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Family Name</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group  row">
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <div class="mat-form-field-fluid">

                        <label id="example-radio-group-label">Gender &nbsp;&nbsp;&nbsp;</label>

                        <mat-radio-group aria-labelledby="example-radio-group-label"  formControlName="PERS_Gender">
                            <mat-radio-button matInput  value="male">Male</mat-radio-button>
                            <mat-radio-button  matInput value="female">Female</mat-radio-button>
                        </mat-radio-group>

                    </div>
                </div>
               
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Nationality" formControlName="PERS_Nationality" [matAutocomplete]="manuf">
                        <mat-autocomplete #manuf="matAutocomplete">
                            <mat-option *ngFor="let nationality of filteredNationalities | async" [value]="nationality">
                                {{ nationality }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>
                            Nationality is
                            <strong>required</strong>
                        </mat-error>
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Nationality</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
            </div>
           
            <div class="form-group  row">
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="dobPicker"
                               (click)="dobPicker.open()"
                               [max]="maxDate"
                               autocomplete="off"
                               placeholder="Choose a Date of Birth" formControlName="PERS_DateofBirth" />
                        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                        <mat-datepicker #dobPicker></mat-datepicker>
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Date of Birth</strong> in 'mm/dd/yyyy' format</mat-hint>-->
                    </mat-form-field>
                </div>
                
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Place Of Birth" formControlName="PERS_PlaceofBirth" [matAutocomplete]="pob">
                        <mat-autocomplete #pob="matAutocomplete">
                            <mat-option *ngFor="let nationality of filteredNationalities | async" [value]="nationality">
                                {{ nationality  }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>
                            Place of Birth is
                            <strong>required</strong>
                        </mat-error>
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Nationality</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
            
                   
                </div>
               
                <div class="form-group  row">
                    
                    <div class="col-md-4 kt-margin-bottom-20-mobile">
                        <div class="mat-form-field-fluid">
                        <label id="example-radio-group-label">Ethnicity &nbsp;&nbsp;&nbsp;</label>
                    </div>
                </div>
                </div>
                <div class="col-md-8 form-group">
                        <div>
                            <mat-radio-group aria-labelledby="Ethnicity"  formControlName="PERS_Ethnicity">
                                <mat-radio-button matInput  value="single">Arab</mat-radio-button>
                                <mat-radio-button  matInput value="ajam">Ajam</mat-radio-button>
                                <mat-radio-button  matInput value="bloush">Bloush</mat-radio-button>
                                <mat-radio-button  matInput value="mixed">Mixed</mat-radio-button>
                                <mat-radio-button  matInput value="other">Other</mat-radio-button>
                            </mat-radio-group>
    
                        </div>
                        <div *ngIf="form.get('PERS_Ethnicity').value == 'mixed'" >
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="If Mixed, specify"
                                    formControlName="PERS_Ethnicity_Mixed_Remarks" />
                            </mat-form-field>
                        </div>
                        <div *ngIf="form.get('PERS_Ethnicity').value == 'other'" >
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="If Other, specify"
                                    formControlName="PERS_Ethnicity_Others_Remarks" />
                            </mat-form-field>
                        </div>
                    </div>
               <div class="form-group  row">
                    
                    <div class="col-md-4 kt-margin-bottom-20-mobile">
                        <div class="mat-form-field-fluid">
                            <label align="start">
                                Are your parents related?
                            </label>
                        </div>
                    </div>
                    <div class="col-md-8 form-group" >
                        <mat-radio-group aria-labelledby="PERS_IsParents_Related"  formControlName="PERS_IsParents_Related">
                            <mat-radio-button matInput  value="yes">Yes</mat-radio-button>
                            <mat-radio-button  matInput value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
               </div>
                <div class="form-group  row">
                    
                        <div class="col-md-4 kt-margin-bottom-20-mobile">
                            <div class="mat-form-field-fluid">
                            <label id="example-radio-group-label">Marital Status &nbsp;&nbsp;&nbsp;</label>
                        </div>
                        </div>
                    <div class="col-md-8 form-group">
                        <div>
                            <mat-radio-group aria-labelledby="marital_status"  formControlName="PERS_MaritalStatus">
                                <mat-radio-button matInput  value="single">Single</mat-radio-button>
                                <mat-radio-button  matInput value="married">Married</mat-radio-button>
                                <mat-radio-button  matInput value="divorced">Divorced</mat-radio-button>
                                <mat-radio-button  matInput value="widow">Widow</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="form-group  row">
                    
                    <div class="col-md-4 kt-margin-bottom-20-mobile">
                        <div class="mat-form-field-fluid">
                            <label align="start">
                                Consanguineous Marriage?
                            </label>
                        </div>
                    </div>
                    <div class="col-md-8 form-group" >
                        <mat-radio-group aria-labelledby="Consanguineous_Marrage"  formControlName="PERS_marriage_con">
                            <mat-radio-button matInput  value="yes">Yes</mat-radio-button>
                            <mat-radio-button  matInput value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
               </div>
                
            <div class="form-group  row">
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Number Of Children"
                               formControlName="PERS_NumberofChildren" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Number Of ChilNumberofchildrendren</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Number Of Wives"
                               formControlName="PERS_Numberofwives" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Number Of Wives</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
            </div>
           
            <div class="form-group  ">
                <h6>Contact phone number(s)</h6>
            </div>
            <div class="form-group  row">
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Home" formControlName="PERS_Home_Number" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Home</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>

                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Work" formControlName="PERS_Work_Number" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Work</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>

                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Mobile" formControlName="PERS_Mobile_Number" />
                        <!--<mat-hint align="start">Please enter-->
                        <!--<strong>Mobile</strong>-->
                        <!--</mat-hint>-->
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group  row">
                <div class="col-md-12 kt-margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
											<textarea matInput rows="7" placeholder="Address"
                                                      formControlName="PERS_Address"></textarea>
                    </mat-form-field>
                </div>
            </div>
        
     <div class="form-group  row">
        <div class="col-md-4 kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="City"
                       formControlName="PERS_City" />
                <!--<mat-hint align="start">Please enter-->
                <!--<strong>Number Of Wives</strong>-->
                <!--</mat-hint>-->
            </mat-form-field>
        </div>
        <div class="col-md-4 kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Emirates"
                       formControlName="PERS_Emirates" />
                <!--<mat-hint align="start">Please enter-->
                <!--<strong>Number Of Wives</strong>-->
                <!--</mat-hint>-->
            </mat-form-field>
        </div>
     </div>
    </div>
    </form>
</div>
