<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->

	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-30">
			<!-- start::FILTERS -->
			<div class="row">
						<div class="col-md-4 form-group">
						<a mat-raised-button   routerLink="../../hsa" color="primary">Long Participant's Questionnaire</a>
						</div>
						<div class="col-md-4 form-group">
						<a mat-raised-button  routerLink="../../diabetes" color="primary">Short Participant's Questionnaire</a>
					</div>
					</div>



		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
