
<div >
    <form autocomplete="off" [formGroup]="form" class="kt-form kt-form--group-seperator-dashed">
        <div class="kt-form__section kt-form__section--first">
            <div class="col-md-12 row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><label>Date of recent test</label></div>
                <div class="col-md-3"><label>Result of recent test</label></div>
                <div class="col-md-3"><label>Is the result normal?</label></div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3"><label>a) Fasting glucose level (mg/dl)</label></div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="p1"
                               autocomplete="off"
                               (click)="p1.open()"
                               placeholder="Date of recent test"  formControlName="BIOC_FastingGlucoseLevel_Test_Date" />
                        <mat-datepicker-toggle matSuffix [for]="p1"></mat-datepicker-toggle>
                        <mat-datepicker #p1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput   formControlName="BIOC_FastingGlucoseLevel_Result" placeholder="Result of recent test"  autocomplete="off"   />
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group my-auto">
                    <mat-radio-group formControlName="BIOC_FastingGlucoseLevel_IsNormalResult" >
                        <mat-radio-button  value="yes">Yes</mat-radio-button>
                        <mat-radio-button  value="no">No</mat-radio-button>
                        <mat-radio-button  value="notsure">Not Sure</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3"><label>b) Total cholesterol (mg/dl)</label></div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="p2"
                               autocomplete="off"
                               (click)="p2.open()"
                               placeholder="Date of recent test"  formControlName="BIOC_TotalCholesterol_Test_Date" />
                        <mat-datepicker-toggle matSuffix [for]="p2"></mat-datepicker-toggle>
                        <mat-datepicker #p2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput   formControlName="BIOC_TotalCholesterol_Result" placeholder="Result of recent test"  autocomplete="off"   />
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group my-auto">
                    <mat-radio-group formControlName="BIOC_TotalCholesterol_IsNormalResult" >
                        <mat-radio-button  value="yes">Yes</mat-radio-button>
                        <mat-radio-button  value="no">No</mat-radio-button>
                        <mat-radio-button  value="notsure">Not Sure</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3"><label>c) Triglyceride (mg/dl)</label></div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="p3"
                               autocomplete="off"
                               (click)="p3.open()"
                               placeholder="Date of recent test"  formControlName="BIOC_Triglyceride_Test_Date" />
                        <mat-datepicker-toggle matSuffix [for]="p3"></mat-datepicker-toggle>
                        <mat-datepicker #p3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput   formControlName="BIOC_Triglyceride_Result" placeholder="Result of recent test"  autocomplete="off"   />
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group my-auto">
                    <mat-radio-group formControlName="BIOC_Triglyceride_IsNormalResult" >
                        <mat-radio-button  value="yes">Yes</mat-radio-button>
                        <mat-radio-button  value="no">No</mat-radio-button>
                        <mat-radio-button  value="notsure">Not Sure</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3"><label>d) HDL (mg/dl)	</label></div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="p4"
                               autocomplete="off"
                               (click)="p4.open()"
                               placeholder="Date of recent test"  formControlName="BIOC_HDL_Test_Date" />
                        <mat-datepicker-toggle matSuffix [for]="p4"></mat-datepicker-toggle>
                        <mat-datepicker #p4></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput   formControlName="BIOC_HDL_Result" placeholder="Result of recent test"  autocomplete="off"   />
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group my-auto">
                    <mat-radio-group formControlName="BIOC_HDL_IsNormalResult" >
                        <mat-radio-button  value="yes">Yes</mat-radio-button>
                        <mat-radio-button  value="no">No</mat-radio-button>
                        <mat-radio-button  value="notsure">Not Sure</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3"><label>e) LDL (mg/dl)</label></div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="p5"
                               autocomplete="off"
                               (click)="p5.open()"
                               placeholder="Date of recent test"  formControlName="BIOC_LDL_Test_Date" />
                        <mat-datepicker-toggle matSuffix [for]="p5"></mat-datepicker-toggle>
                        <mat-datepicker #p5></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput   formControlName="BIOC_LDL_Result" placeholder="Result of recent test"  autocomplete="off"   />
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group my-auto">
                    <mat-radio-group formControlName="BIOC_LDL_IsNormalResult" >
                        <mat-radio-button  value="yes">Yes</mat-radio-button>
                        <mat-radio-button  value="no">No</mat-radio-button>
                        <mat-radio-button  value="notsure">Not Sure</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3"><label>f) Creatinine (mg/dl)	</label></div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="p7"
                               autocomplete="off"
                               (click)="p7.open()"
                               placeholder="Date of recent test"  formControlName="BIOC_Creatinine_Test_Date" />
                        <mat-datepicker-toggle matSuffix [for]="p7"></mat-datepicker-toggle>
                        <mat-datepicker #p7></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput   formControlName="BIOC_Creatinine_Result" placeholder="Result of recent test"  autocomplete="off"   />
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group my-auto">
                    <mat-radio-group formControlName="BIOC_Creatinine_IsNormalResult" >
                        <mat-radio-button  value="yes">Yes</mat-radio-button>
                        <mat-radio-button  value="no">No</mat-radio-button>
                        <mat-radio-button  value="notsure">Not Sure</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3"><label>g) Ca (mg/dl)	)</label></div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="p8"
                               autocomplete="off"
                               (click)="p8.open()"
                               placeholder="Date of recent test"  formControlName="BIOC_Ca_Test_Date" />
                        <mat-datepicker-toggle matSuffix [for]="p8"></mat-datepicker-toggle>
                        <mat-datepicker #p8></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput   formControlName="BIOC_Ca_Result" placeholder="Result of recent test"  autocomplete="off"   />
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group my-auto">
                    <mat-radio-group formControlName="BIOC_Ca_IsNormalResult" >
                        <mat-radio-button  value="yes">Yes</mat-radio-button>
                        <mat-radio-button  value="no">No</mat-radio-button>
                        <mat-radio-button  value="notsure">Not Sure</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3"><label>h) Vitamin D level (ng/ml)</label></div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="p9"
                               autocomplete="off"
                               (click)="p9.open()"
                               placeholder="Date of recent test"  formControlName="BIOC_VitaminDLevel_Test_Date" />
                        <mat-datepicker-toggle matSuffix [for]="p9"></mat-datepicker-toggle>
                        <mat-datepicker #p9></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput   formControlName="BIOC_VitaminDLevel_Result" placeholder="Result of recent test"  autocomplete="off"   />
                    </mat-form-field>
                </div>
                <div class="col-md-3 form-group my-auto">
                    <mat-radio-group formControlName="BIOC_VitaminDLevel_IsNormalResult" >
                        <mat-radio-button  value="yes">Yes</mat-radio-button>
                        <mat-radio-button  value="no">No</mat-radio-button>
                        <mat-radio-button  value="notsure">Not Sure</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

        </div>
    </form>
</div>