<div class="col-md-12">
    <form autocomplete="off" [formGroup]="Mform" class="kt-form kt-form--group-seperator-dashed">
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    Fasting glucose level
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" style="width:100%;">
                    <input  matInput [matDatepicker]="dp1" formControlName="bloodCollectedDate"  placeholder="Date of blood collection or Report" (click)="dp1.open()" (focus)="dp1.open()"  name="dp1">
                    <mat-datepicker-toggle matSuffix [for]="dp1">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="recentresult" />
                </mat-form-field>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    Random glucose level
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp2" formControlName="glucose_collected_date"  placeholder="Date of blood collection or Report" (click)="dp2.open()" (focus)="dp2.open()"  name="dp2">
                    <mat-datepicker-toggle matSuffix [for]="dp2">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="glucose_recentresult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    Glucose tolerance (OGTT)
                    *Fasting Blood Glucose
                    *FBG after 2 hours
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp3" formControlName="glucose_tolerance_collected_date"  placeholder="Date of blood collection or Report" (click)="dp3.open()" (focus)="dp3.open()"  name="dp2">
                    <mat-datepicker-toggle matSuffix [for]="dp3">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp3></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="glucose_tolerance_recent_result" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    HbA1c (%)
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp4" formControlName="hba1c"  placeholder="Date of blood collection or Report" (click)="dp4.open()" (focus)="dp4.open()"  name="dp4">
                    <mat-datepicker-toggle matSuffix [for]="dp4">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp4></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="hba1c_RecentResult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    Total cholesterol (mg/dl)
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp5" formControlName="cholesterol_CollectedDate"  placeholder="Date of blood collection or Report" (click)="dp5.open()" (focus)="dp5.open()"  name="dp5">
                    <mat-datepicker-toggle matSuffix [for]="dp5">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp5></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="cholesterol_RecentResult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    Triglyceride (mg/dl)
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp6" formControlName="Triglyceride_CollectedDate"  placeholder="Date of blood collection or Report" (click)="dp6.open()" (focus)="dp6.open()"  name="dp6">
                    <mat-datepicker-toggle matSuffix [for]="dp6">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp6></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="Triglyceride_RecentResult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    HDL (mg/dl)x
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp7" formControlName="HDL_CollectedDate"  placeholder="Date of blood collection or Report" (click)="dp7.open()" (focus)="dp7.open()"  name="dp7">
                    <mat-datepicker-toggle matSuffix [for]="dp7">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp7></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="HDL_RecentResult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    LDL (mg/dl)
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp8" formControlName="LDL_CollectedDate"  placeholder="Date of blood collection or Report" (click)="dp8.open()" (focus)="dp8.open()"  name="dp8">
                    <mat-datepicker-toggle matSuffix [for]="dp8">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp8></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="LDL_RecentResult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    Microalbumin (mg)
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp9" formControlName="Microalbumin_CollectedDate"  placeholder="Date of blood collection or Report" (click)="dp9.open()" (focus)="dp9.open()"  name="dp9">
                    <mat-datepicker-toggle matSuffix [for]="dp9">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp9></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="Microalbumin_RecentResult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    Creatinine (mg/dl)
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp10" formControlName="Creatinine_CollectedDate"  placeholder="Date of blood collection or Report" (click)="dp10.open()" (focus)="dp10.open()"  name="dp10">
                    <mat-datepicker-toggle matSuffix [for]="dp10">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp10></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="Creatinine_RecentResult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    Urea
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp11" formControlName="Urea_CollectedDate"  placeholder="Date of blood collection or Report" (click)="dp11.open()" (focus)="dp11.open()"  name="dp11">
                    <mat-datepicker-toggle matSuffix [for]="dp11">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp11></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="Urea_RecentResult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    Vitamin D level (ng/ml)
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp12" formControlName="VitaminD_CollectedDate"  placeholder="Date of blood collection or Report" (click)="dp12.open()" (focus)="dp12.open()"  name="dp12">
                    <mat-datepicker-toggle matSuffix [for]="dp12">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp12></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="VitaminD_RecentResult" />
                </mat-form-field>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 form-group">
                <label>
                    eGFR
                </label>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid" >
                    <input  matInput [matDatepicker]="dp13" formControlName="eGFR_CollectedDate"  placeholder="Date of blood collection or Report" (click)="dp13.open()" (focus)="dp13.open()"  name="dp13">
                    <mat-datepicker-toggle matSuffix [for]="dp13">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp13></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Result of recent test"
                           formControlName="eGFR_RecentResult" />
                </mat-form-field>
            </div>
        </div>
    </form>
</div>