<div class="col-md-12">
    <form autocomplete="off" [formGroup]="form" class="kt-form kt-form--group-seperator-dashed">
        <!--<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"-->
                  <!--(close)="onAlertClose($event)">-->
            <!--Oh snap! Change a few things up and try submitting again.-->
        <!--</kt-alert>-->
        <div class="kt-form__section kt-form__section--first">
            <div class="form-group  row">
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="number" matInput placeholder="Body weight without shoes (kg)" autocomplete="off"   (ngModelChange)="calculateBodyMass()"  formControlName="CLIN_BodyWeight_KG" />
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="number"  matInput placeholder="Height without shoes (m)"  autocomplete="off"  (ngModelChange)="calculateBodyMass()" formControlName="CLIN_Height_CM" />
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Body mass index (kg/m2)"  autocomplete="off"   formControlName="CLIN_BMI_KGM2" />
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group  row">
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="text" matInput placeholder="Waist circumference (cm)" autocomplete="off"      formControlName="CLIN_WaistCircumference_CM" />
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="text" matInput placeholder="Hip circumference (cm)" autocomplete="off"      formControlName="CLIN_Hipcircumference_CM" />
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="text" matInput placeholder="Vertical Trunk Circumference (cm)" autocomplete="off"      formControlName="CLIN_VerticalTrunkCircumference_CM" />
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group  row">
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="text" matInput placeholder="WHR (WR/HR)" autocomplete="off"      formControlName="CLIN_WHR" />
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="text" matInput placeholder="Body fat mass (Kg)" autocomplete="off"      formControlName="CLIN_BodyFatMass_Kg" />
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="text" matInput placeholder="Body fat percentage (%)" autocomplete="off"      formControlName="CLIN_BMIFatPercent" />
                    </mat-form-field>
                </div>
               
            </div>
            <div class="form-group  row">
                <h6>Blood pressure</h6>
            </div>
            <div class="form-group  row">
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="text" matInput placeholder="Systolic (mm/Hg)" formControlName="CLIN_BloodPressure_SYS_mmHg" autocomplete="off"    />
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="text" matInput placeholder="Diastolic (mm/Hg)" formControlName="CLIN_BloodPressure_DIA_mmHg" autocomplete="off"    />
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group  row">
                <h6>Medical Conditions</h6>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="kt-section">
                        <label align="start">
                            Do you have any Medical Conditions?
                        </label>
                    </div>
                </div>
    
                <div class="col-md-8 form-group">
                    <div>
                        <mat-radio-group formControlName="CLIN_MC">
                            <mat-radio-button  value="yes">Yes</mat-radio-button>
                            <mat-radio-button  value="no">No</mat-radio-button>
                            <mat-radio-button  value="notsure">Not Sure</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="kt-section">
                        <label align="start">
                            Type 2 Diabetes Mellitus
                        </label>
                    </div>
                </div>
    
                <div class="col-md-8 form-group">
                    <div>
                        <mat-radio-group formControlName="CLIN_MC_Type2Diabetes">
                            <mat-radio-button  value="yes">Yes</mat-radio-button>
                            <mat-radio-button  value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="kt-section">
                        <label align="start">
                            Hypertension
                        </label>
                    </div>
                </div>
    
                <div class="col-md-8 form-group">
                    <div>
                        <mat-radio-group formControlName="CLIN_MC_Hypertension">
                            <mat-radio-button  value="yes">Yes</mat-radio-button>
                            <mat-radio-button  value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="kt-section">
                        <label align="start">
                            Dyslipidemia
                        </label>
                    </div>
                </div>
    
                <div class="col-md-8 form-group">
                    <div>
                        <mat-radio-group formControlName="CLIN_MC_Dyslipidemia">
                            <mat-radio-button  value="yes">Yes</mat-radio-button>
                            <mat-radio-button  value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="kt-section">
                        <label align="start">
                            Respiratory Disease: (Sleep apnoea, Asthma, Emphysema)
                        </label>
                    </div>
                </div>
    
                <div class="col-md-8 form-group">
                    <div>
                        <mat-radio-group formControlName="CLIN_MC_Respiratory">
                            <mat-radio-button  value="yes">Yes</mat-radio-button>
                            <mat-radio-button  value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="kt-section">
                        <label align="start">
                            Gastrointestinal System: (Gastroesophageal reflux, Hepatobiliary disease)
                        </label>
                    </div>
                </div>
    
                <div class="col-md-8 form-group">
                    <div>
                        <mat-radio-group formControlName="CLIN_MC_Gastrointestinal">
                            <mat-radio-button  value="yes">Yes</mat-radio-button>
                            <mat-radio-button  value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="kt-section">
                        <label align="start">
                            Other
                        </label>
                    </div>
                </div>
    
                <div class="col-md-8 form-group">
                    <div>
                        <mat-radio-group formControlName="CLIN_MC_Others">
                            <mat-radio-button  value="yes">Yes</mat-radio-button>
                            <mat-radio-button  value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="form-group  row" *ngIf="form.get('CLIN_MC_Others').value == 'yes'">
                    <div class="col-md-8 kt-margin-bottom-20-mobile" >
                        <mat-form-field  class="mat-form-field-fluid">
                            <input type="text" matInput placeholder="If Yes, Please specify" formControlName="CLIN_MC_Others_Remarks" autocomplete="off"    />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

