// import login css
@import "sass/pages/login/login-1";

kt-auth, .kt-login {
	height: 100%;

	.mat-form-field {
		width: 100%;
	}

	// add extra right padding when displaying spinner in button
	.kt-spinner {
		padding-right: 3rem !important;
	}
}

.loader-overlay {
	position: fixed;
	background: rgba(0,0,0,0.4);
	bottom: 0;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	display:block;
	margin: 0 auto;
	overflow: hidden;
	z-index: 9999;
}

.loader-bar {
	height: 4px;
	width: 100%;
	position: relative;
	overflow: hidden;

	&:after {
		display: block;
		position: absolute;
		content: "";
		left: -200px;
		width: 200px;
		height: 4px;
		background-color: #ffffff;
		animation: loading 2s linear infinite;
		bottom: 0;
	}
}

@keyframes loading {
	from {left: -200px; width: 30%;}
	50% {width: 30%;}
	70% {width: 70%;}
	80% {left: 50%;}
	95% {left: 120%;}
	to {left: 100%;}
}